.header {
  padding: $gutter * 5;
  background-color: $white;
  color: $primaryColor;
  font-size: $fontSizeXL;
  font-weight: $fontWeightBold;
}

.footer {
  padding: $gutter * 3;
  @include media-breakpoint-up(sm) {
    padding: $gutter * 10;
  }
  background-color: darken($primaryColor, 30%);
  text-align: center;

  .title {
    color: $white;
    line-height: 120%;
    // @include media-breakpoint-up(sm) {
    //   font-size: $fontSizeXL;
    // }
  }

  p {
    margin-bottom: $gutter * 6;
    color: $white;
    font-size: $fontSizeXL;
  }

  .copy {
    color: $white;
    font-size: $fontSizeL;
  }
}
