.header {
  position: relative;
  z-index: $indexHeader;
  background-color: $white;
  color: $primaryColor;
  font-size: $fontSizeXL;
  font-weight: $fontWeightBold;

  > div {
    display: flex;
    justify-content: space-between;
    padding: $gutter;

    .logo {
      max-width: 200px;

      img {
        width: 100%;
      }

      @include media-breakpoint-up(md) {
        max-width: 300px;
      }
    }

    .action {
      color: $textColorLight;
      font-size: $fontSize;
      font-weight: $fontWeight;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.main {
  position: relative;
  z-index: $indexMain;
  margin-bottom: $heightFooterMob;
  background-color: $bgBody;
  @include media-breakpoint-up(md) {
    margin-bottom: $heightFooter;
  }

  &.access {
    margin-bottom: $heightFooterSm;
  }
}

.footer {
  position: fixed;
  z-index: $indexFooter;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: ($gutter * 3) 0;
  background-color: darken($primaryColor, 30%);
  text-align: center;

  .title {
    padding-top: $gutter * 10;
    color: $white;
    line-height: 120%;
    // @include media-breakpoint-up(sm) {
    //   font-size: $fontSizeXL;
    // }
  }

  p {
    margin-bottom: $gutter * 6;
    color: $white;
    font-size: $fontSizeXL;
  }

  .copy {
    color: $white;
    font-size: $fontSizeL;
  }
}
