.subscribe {
}

.features {
  padding-top: $gutter;
  text-align: center;

  @include media-breakpoint-up(md) {
    padding: 0;
    padding-top: $gutter * 10;
    text-align: left;
  }

  &.alignCenter {
    text-align: center;
  }

  > div.shine {
    height: 750px;
    background-image: url("/images/shine.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 90%;

    @include media-breakpoint-up(md) {
      height: 500px;
      background-size: 40%;
      background-position: right bottom;
    }
  }
  > div.perf {
    height: 1300px;
    background-image: url("/images/performance.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 80%;

    @include media-breakpoint-up(lg) {
      height: 780px;
      background-position: right bottom;
      background-size: 40%;
    }
  }

  .content {
    max-width: $md;
  }

  .title {
    max-width: $md;
    margin: auto;
    margin-bottom: $gutter;
    padding: 0 $gutter;
    font-weight: $fontWeightBold;
    line-height: 110%;
  }

  p {
    max-width: $lg;
    margin: auto;
    margin-bottom: $gutter * 4;
    padding: 0 $gutter;

    @include media-breakpoint-up(md) {
      margin-bottom: $gutter * 8;
    }
    color: $textColorLight;
    font-size: $fontSizeXL;
    line-height: 120%;
  }

  figure {
    margin-bottom: $gutter * 10;
  }

  h6 {
    margin-bottom: $gutter * 5;
    padding: 0 $gutter;
  }

  ul {
    margin-bottom: $gutter * 7;
    margin-left: $gutter * 3;
    padding: 0 $gutter;
    text-align: left;
    list-style-type: disc;
    list-style-position: outside;

    @include media-breakpoint-up(md) {
      margin-left: $gutter * 20;
    }

    li {
      padding: $gutter 0;
      color: $textColorLight;
      font-size: $fontSizeL;
      @include media-breakpoint-up(md) {
        font-size: $fontSizeXL;
      }
    }
  }

  .strip {
    margin-bottom: $gutter * 3;
    padding: $gutter * 4 $gutter;
    background-color: $accentColor;
    text-align: center;
    @include media-breakpoint-up(md) {
      padding: $gutter * 6;
      font-size: $fontSizeH5;
    }

    p {
      margin: 0 auto;
      margin-bottom: $gutter * 3;
      color: $white;
      font-size: $fontSizeH6;
      font-weight: $fontWeightBold;
      @include media-breakpoint-up(md) {
        font-size: $fontSizeH5;
      }
    }

    figure {
      display: inline-block;
      padding: $gutter $gutter * 1.5;
      margin: 0 $gutter/2;
      background-color: $white;
      border-radius: $borderRadius;
    }
  }
}

.review {
  padding: $gutter * 3;
  background: #fef9f1;
  text-align: center;
  @include media-breakpoint-up(md) {
    padding: $gutter * 10;
  }

  .rating {
    padding-bottom: $gutter * 5;
    color: #e28f44;
    font-size: $fontSizeH5;
  }

  p {
    margin-bottom: $gutter * 4;
    color: $textColorLight;
    font-size: $fontSizeL;
    line-height: 120%;
    @include media-breakpoint-up(md) {
      font-size: $fontSizeH6;
    }
  }

  .reviewer {
    color: $textColor;
    font-size: $fontSizeH6;

    @include media-breakpoint-up(md) {
      font-size: $fontSizeH5;
    }

    span {
      color: $textColorLight;
    }
  }
}
