.access {
  padding-top: $gutter;

  .intro {
    position: relative;
    margin-bottom: $gutter * 4;
    @include media-breakpoint-up(md) {
      max-width: $xs;
    }
    @include media-breakpoint-up(lg) {
      max-width: $sm;
    }

    h2 {
      margin-bottom: $gutter;
    }
    p {
      color: $textColorLight;
      font-size: $fontSizeXL;
      line-height: 120%;

      span {
        padding: $gutter/2 $gutter;
        background-color: $warning;
        color: $textColor;
        font-size: $fontSizeXL;
        font-weight: $fontWeightBold;
      }
    }

    .review {
      display: none;
      text-align: center;

      @include media-breakpoint-up(md) {
        position: absolute;
        z-index: 1;
        right: 0;
        top: 0;
        transform: translate(100%, 0);
        width: 430px;
        height: 238px;
      }

      p {
        color: $textColor;
        font-size: $fontSizeH5;
        font-weight: $fontWeightBold;
      }
      div {
        font-size: $fontSizeXL;
        font-weight: $fontWeightBold;
        span {
          font-weight: $fontWeight;
        }
      }
    }
  }

  .features {
    padding: ($gutter * 2) 0;
    background-color: lighten($accentColor, 40%);
    text-align: center;
    @include media-breakpoint-up(md) {
      padding: ($gutter * 5) 0;
      text-align: left;
    }

    .title {
      display: inline-block;
      padding: $gutter;
      background-color: $warning;

      &.col {
        background-color: transparent;
        color: $textColor;
        font-weight: $fontWeightBold;
      }
    }

    .imageCol {
      @include media-breakpoint-up(md) {
        display: flex;
        align-items: flex-start;
      }

      figure {
        margin: auto;

        @include media-breakpoint-up(md) {
          margin-right: $gutter * 5;
        }
      }
    }

    p {
      margin-bottom: $gutter * 5;
      font-size: $fontSizeXL;
    }

    ul {
      display: grid;
      max-width: $lg;
      text-align: left;

      @include media-breakpoint-up(md) {
        grid-template-columns: auto auto;
      }

      &.col {
        grid-template-columns: auto;

        li {
          grid-template-rows: max-content;
        }
      }

      li {
        display: flex;
        margin-bottom: $gutter * 2;
        color: $textColorLight;
        font-size: $fontSizeXL;

        &::before {
          content: "✓";
          margin-top: $gutter / 2;
          margin-right: $gutter;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .action {
    padding: ($gutter * 2) 0;
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: left;
    }

    &.alignCenter {
      text-align: center;
    }

    button {
      @include btnPrimary();
      display: flex;
      align-items: center;
      width: auto;
      height: auto;
      margin: auto;
      margin-bottom: $gutter * 2;
      padding: $gutter * 2 $gutter * 3;
      font-size: $fontSizeXL;

      i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        padding: $gutter;
        background-color: $white;
        border-radius: $borderRadius * 3;
        font-size: $fontSizeXL;
        font-style: normal;
      }

      span {
        margin-left: $gutter * 2;
        text-align: left;
      }

      small {
        display: block;
        margin-top: $gutter;
        font-size: $fontSizeSmall;
        font-weight: $fontWeight;
        line-height: 130%;
      }
    }

    p {
      color: $textColorLight;
      font-size: $fontSizeXL;
      line-height: 150%;

      a {
        color: $textColor;
      }
    }
  }

  .loader {
    padding: ($gutter * 2) 0;
    text-align: center;

    .bar {
      margin-bottom: $gutter * 4;
    }

    .status {
      display: flex;
      justify-content: center;
      align-items: center;

      figure {
        margin-right: $gutter * 3;
      }

      p {
        font-size: $fontSizeH5;
        font-weight: $fontWeightBold;
      }
    }
  }

  .sold {
    text-align: center;

    @include media-breakpoint-up(md) {
      padding-top: $gutter * 5;
    }

    .title {
      margin-bottom: $gutter * 6;
      font-weight: $fontWeightBold;

      small {
        display: block;
        margin-top: $gutter * 2;
        font-size: $fontSizeH6;

        @include media-breakpoint-up(md) {
          font-size: $fontSizeH4;
        }
      }
    }

    p {
      max-width: $lg;
      margin: auto;
      color: $textColorLight;
      font-size: $fontSizeH6;
      line-height: 140%;
    }
  }
}
