.btn {
  width: 180px;
  height: 60px;
  border: 0 none;
  border-radius: $borderRadius;
  color: $white;
  font-size: $fontSizeL;
  font-family: $fontFamily;
  font-weight: $fontWeightBold;
  text-align: center;
  outline: none;
}

@mixin btnPrimary() {
  @extend .btn;
  background-color: $primaryColor;

  &.outline {
    background-color: $white;
    border: 1px solid $primaryColor;
    color: $primaryColor;
  }
}

@mixin btnSecondary() {
  @extend .btn;
  background-color: $secondaryColor;

  &.outline {
    background-color: $white;
    border: 1px solid $secondaryColor;
    color: $secondaryColor;
  }
}

@mixin boxShadow() {
  background: $white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}
@mixin boxShadowLight() {
  background: $white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
