$fontFamily: "Apercu Pro";
$fontFamilyHeading: "Value Serif Pro";

$fontSizeSmall: 13px;
$fontSize: 16px;
$fontSizeL: 20px;
$fontSizeXL: 24px;

$fontSizeH1: 64px;
$fontSizeH2: 56px;
$fontSizeH3: 48px;
$fontSizeH4: 40px;
$fontSizeH5: 32px;
$fontSizeH6: 24px;

$fontWeightThin: 100;
$fontWeightLight: 300;
$fontWeight: 400;
$fontWeightBold: 700;
$fontWeightBlack: 900;

$primaryColor: rgb(96, 62, 255);
$primaryColorLight: lighten($primaryColor, 30%);
$primaryColorDark: darken($primaryColor, 30%);

$secondaryColor: #de66c1;
$secondaryColorLight: lighten($secondaryColor, 30%);
$secondaryColorDark: darken($secondaryColor, 30%);

$accentColor: #e28f44;
$accentColorLight: lighten($accentColor, 30%);
$accentColorDark: darken($accentColor, 30%);

$textColor: #000000;
$textColorLight: #626968;
$textColorLighter: lighten($textColorLight, 30%);

$white: #fff;
$black: #000;
$success: #00b94d;
$warning: #f8ff3e;
$danger: #dc3545;
$gray: darken($white, 50%);
$grayLight: lighten($black, 90%);
$grayLighter: lighten($black, 95%);
$grayLightest: lighten($black, 98%);

$bgBody: $white;

$indexHeader: 3;
$indexMain: 2;
$indexFooter: 1;

$gutter: 8px;
$borderRadius: $gutter * 2;

$heightHeader: 70px;
$heightFooter: 620px;
$heightFooterSm: 70px;

$widthMax: 340px;
$widthMin: 323px;
